@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #181822;
  width: 400px;
  height: 100%;
  border-radius: 25px;
  margin: 0 auto;
}
